@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center; 
  background-color: #111; 
  font-family: 'Monserrat', sans-serif;
  scroll-behavior: smooth;

  /* background: linear-gradient(180deg, #07000e 0%, #110232 50%, #0c0117 100%); */
   background: linear-gradient(180deg, #0a0014 0%, #1b0451 50%, #0c0117 100%);

}

/* APP CONTAINER */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  max-width: 1600px; 
  padding: 0 20px; 
  box-sizing: border-box;
}

/* NAVBAR  */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;      
  height: 65px;
  /* background-color: rgba(0, 0, 0, 0.85); */
  /* background-color: #040109; */

  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);

  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.logo {
  font-size: 1.30rem;
  font-weight: 540;
  letter-spacing: 0.8px;
  color: #d9d4de; 
  cursor: pointer;

}

.logo:hover {
  opacity: 0.85;
  text-shadow: 0 0 6px #4b1289;
  transform: scale(1.025);
  transition: opacity 0.25s, text-shadow 0.25s, scale 0.5s;
  
}

.navbar-left{
  padding-left: 3%;
}

.navbar-right {
  display: flex;
  gap: 25px;
  padding-right: 3%;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: opacity 0.25s, text-shadow 0.25s;
}

.navbar-right a:hover {
  opacity: 0.75;
  text-shadow: 0 0 6px white;
}

.navbar.scrolled {
  background-color: black;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

/* HERO SECTION */
.hero-container {
  text-align: center;
  padding-top: 70px; 
  max-width: 900px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -20px;

  transition: all 0.6s ease-in-out;
  min-height: 500px;
  position: relative;
 
}

.hero-title {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 12px;
  
}

.hero-subtext {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #cccccc;
  margin-bottom: 30px;
}

.example-bubbles {
  display: flex;
  justify-content: center; 
  gap: 15px; 
  margin-bottom: 30px;
  flex-wrap: wrap; 
  align-items: center;
}

.example-bubble {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 8px 14px;
  border-radius: 16px;
  font-size: 0.85rem; 
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  min-width: 140px; 
  text-align: center;
}

.launch-button {
  background: linear-gradient(180deg, #4e0893 0%, #3c0ea0 50%, #540d9c 100%);
  color: #cccccc;
  font-size: 1rem; 
  font-weight: 600;
  width: 150px;
  padding: 12px 24px; 
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.2s ease;
  margin-bottom: 40px;
}

.launch-button:hover {
  transform: scale(1.05);
  background: linear-gradient(180deg, #360db0 0%, #5a17eb 50%, #300c9d 100%);
  
}

.shuttle-container {
  height: 220px;
  width: 100%;
  max-width: 46%; 
  border: 2px solid #431795;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  font-size: 1.1rem;
  margin-bottom: 100px;

  transition: all 1.5s ease-in-out;
  overflow: hidden;
}

.shuttle-img{
  width: 100%;
  border-radius: 14px;
  transition: all 2s ease-in-out;
}

.shuttle-launch {
  height: 85vh !important;
  max-width: 100vw !important;
  border-radius: 20px;
  border: 2px solid #3a0895;
  margin-top: 8px;
  
}

.shuttle-launch .shuttle-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* HOW IT WORKS SECTION */
.how-it-works-container {
  max-width: 900px;
  margin: 10px auto; 
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0 20px;
  text-align: center;
  color: white;
}

.how-it-works-title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 20px;

  background: linear-gradient(180deg, #14053f 0%, #7542e3 50%, #04010c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

}

.how-it-works-text {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #cccccc;
  margin-bottom: 40px;
}

.steps-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.step {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 12px;
  min-width: 200px;
  flex: 1 1 250px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.step h3 {
  margin-bottom: 12px;
  font-size: 1.25rem;
}

.step p {
  font-size: 0.95rem;
  line-height: 1.4;
}

/* WHY TWISTORY */
.why-built-container {
  max-width: 900px;
  margin: 80px auto;
  margin-top: 80px;
  padding: 0 20px;
  text-align: center;
  color: white;
}

.why-built-title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 25px;
  background: linear-gradient(180deg, #14053f 0%, #8a55fb 50%, #04010c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.why-built-text {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #cccccc;
  margin-bottom: 25px;
}

.why-built-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.icon-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 12px;
  min-width: 120px;
  flex: 1 1 120px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.1rem;
}

.icon-card p {
  margin-top: 10px;
  font-size: 0.95rem;
}

/* FOOTER SECTION */

.FooterBigContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 145.5%; 
  bottom: 0;
  padding: 20px 40px;
  /* background-color: rgba(0, 0, 0, 0.85); */
  /* background-color: #040109; */

  background-color: rgba(0, 0, 0, 0.7);

  color: white;
  backdrop-filter: blur(4px);
  font-size: 0.9rem;
  flex-wrap: wrap;
}

/* .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 145.5%; 
  bottom: 0;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  backdrop-filter: blur(4px);
  font-size: 0.9rem;
  flex-wrap: wrap;
  
} */

.footer-left {
  font-weight: 500;
  color: #5f0cb7; 
}

.footer-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-right a {
  color: #5f0cb7; 
  text-decoration: none;
  transition: opacity 0.2s, text-shadow 0.2s;
}

.footer-right a:hover {
  opacity: 0.8;
  text-shadow: 0 0 4px #ffc300;
}

/* COCKPIT SECTION  */

.cockpit-ui {
  position: absolute;
  top: 19%;     
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none; 
  
}

.cockpit-ui.visible {
  opacity: 1;
  pointer-events: auto;
  
}

/* AI INPUT SEARCH BAR */

.prompt-searchbar:focus {
  box-shadow: 0 0 8px rgba(122, 48, 255, 0.3);
}

.style-select-container{
  margin-top: 5px;
  margin-bottom: 5px;
}

.prompt-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

/* Search bar */
.prompt-searchbar {
  flex: 1;
  height: 38px;
  width: 100%;
  max-width: 85%;
  padding: 0px 16px;
  margin-bottom: 5px;
  border-radius: 25px 0 0 25px; 
  border: 2px solid #7a30ff;
  background: white;
  color: black;
  font-size: 16px;
  outline: none;
  transition: 0.25s ease;
  text-align: center;
}

/* Twist Button*/
.twist-btn {
  transform: translateY(-2px);
  height: 41px;
  padding: 0px 14px;
  background: linear-gradient(180deg, #331191 0%, #8a55fb 50%, #3d17a6 100%);
  color: white;
  border: 2px solid #7a30ff;
  border-left: 0px;
  
  border-radius: 0 25px 25px 0; 
  cursor: pointer;
  transition: 0.25s ease;
  font-size: 14px;
}

.twist-btn:hover {
  background: linear-gradient(180deg, #8a69de 0%, #391f80 100%);
  border: 1px solid #e22110;
}

.twist-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.spinner {
  width: 16px;
  height: 16px;
  border: 3px solid white;
  border-top: 3px solid transparent;
  border-radius: 50%;
  /* padding-left: 8px; */
  margin-left: 4px;
  animation: spin 1s linear infinite;
  
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* STYLE SELECTOR BUTTONS */
.style-select-container button{
  width: 90px;
  height: 33px;
  font-size: 12px;
  padding: 5px;
  margin-left: 4px;
  margin-right: 4px;

  border-radius: 10px;
  cursor: pointer;
  border-color: #7a30ff;
  color: #d9d6d6;
  background-color:#0f021c
  
}

.style-select-container button:hover {
  border-color: #ffffff;
}

.style-select-container button.active {
  background-color: #5610a2;
  color: #fff;
  border-color: #ebe9ed;
}

/* .generate-btn{
  width: 80px;
  height: 30px;
  font-size: 12px;
  padding: 5px;
  border-radius: 10px;
  margin-top: 4px;
} */

/* OUTPUT CONTAINER  */

.output-container {
  position: absolute;
  top: 112%;   
  background-color: rgba(0, 0, 0, 0.8);       
  color: rgb(228, 222, 222);               
  border-radius: 20px;          
  padding: 20px;                
  margin-top: 2%;    
  max-width: 800px;             
  width: 80%;    
  justify-content: center;
  margin-left: 7%;
  display: flex;
  font-size: 14px;                
  box-shadow: 0 4px 12px rgba(0,0,0,0.15); 
  overflow-wrap: break-word;    
}